@charset 'utf-8';

:root {
  /* size */
  --large--font: 21px;
  --medium-font: 14px;
  --small--font: 12px;
  /* color */
  --white--color: #fff;
  --black--color: #1d1d1d;
  --ligthgray--color: #ddd;
  --ligthgray--color2: #888;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: var(--black--color);
  /* 자간 */
  letter-spacing: -0.05em;
  background-color: var(--white--color);
}

p {
  line-height: 1.6;
}

a {
  color: var(--black--color);
  text-decoration: none;
}

/* menu */
/* global nav */
/* .global_nav .local_nav 포지션 값을 변경 해줌
scrollLoop 함수내에서 currentScene를 구하는 과정에서 nav의 높이 값 때문에 문제가 발생하므로
nav가 영역을 차지하지 않도록 position:absolute 값으로 설정  */
.global_nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
  z-index: 10;
}

.global_nav .global_nav_links,
.local_nav .local_nav_links {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.global_nav .global_nav_links {
  justify-content: space-between;
  font-size: var(--medium-font);
}

/* local nav */
.local_nav {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid var(--ligthgray--color);
  padding: 0 1rem;
  z-index: 10;
}

.local_nav .local_nav_links .product_name {
  font-size: var(--large--font);
  font-weight: 900;
  margin-right: auto;
}
/* .product_name 요소는 제외 */
.local_nav .local_nav_links a:not(.product_name) {
  margin-left: 2em;
  font-size: var(--small--font);
}

.local_nav_sticky .local_nav {
  position: fixed;
  top: 0;
  background-color: rgba(252, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(15px);
}

/* section */
.scroll_section {
  position: relative;
  padding-top: 50vh;
}
/* section 1 */
#scroll_section_01 h1 {
  /* canvas가 absolute이므로 h1를 relative로 수정하고 z-index값 설정 */
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
}

.main_message {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 2rem;
  margin: 10px 0;
  top: 35vh;
}
/* section 2 */
.main_message p {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

/* #scroll_section_02.scroll_section {
  padding-top: 0;
} */

.description {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: var(--ligthgray--color2);
  padding: 0 1rem;
}

.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: var(--black--color);
}

/* section 3 */
.main_message small {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

#scroll_section_03 .main_message {
  font-size: 3.5rem;
}

.desc_message {
  opacity: 0;
  width: 50%;
  font-weight: 900;
}
/* 선 */
.pin {
  width: 1px;
  height: 100px;
  background: var(--black--color);
}

#scroll_section_03 .main_message_2 {
  top: 10%;
  left: 40%;
}

#scroll_section_03 .main_message_3 {
  top: 25%;
  left: 45%;
}

/* section 4 */
.mid_message {
  font-size: 2rem;
  color: var(--ligthgray--color2);
  padding: 0 1rem;
  max-width: 1000px;
  margin: 0 auto;
}
.mid_message strong {
  color: var(--black--color);
  display: block;
}
.canvas_caption {
  color: var(--ligthgray--color2);
  padding: 0 1rem;
  font-size: 1.2rem;
  max-width: 1000px;
  /* margin: 0 auto; */
  margin: -5em auto 0;
}

.image_blend_canvas.sticky {
  position: fixed;
  top: 0;
}

#scroll_section_04 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  color: var(--white--color);
  background: darkorange;
}

/* sticky_elem */
/* 기본적으로 sticky_elem display을 none으로 설정하고 */
/* 스크롤의 위치에 따라서 보이도록 처리. */
.sticky_elem {
  display: none;
  position: fixed;
  /* top: 0; */
  left: 0;
  width: 100%;
}
/* 스크롤의 위치에 따라서 body 태그에 show_scene_num id값을 부여하여 */
/* 보이는 section을 설정함. */
#show_scene_01 #scroll_section_01 .sticky_elem,
#show_scene_02 #scroll_section_02 .sticky_elem,
#show_scene_03 #scroll_section_03 .sticky_elem,
#show_scene_04 #scroll_section_04 .sticky_elem {
  display: block;
}

/* canvas */
.sticky_elem_canvas {
  top: 0;
  height: 100%;
}

.sticky_elem_canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  /* 중앙 정렬을 위한 translate3d 속성은 인라인 요소로 스크립트에서 설정함. */
}

/* desktop */
@media (min-width: 1024px) {
  /* section 1 */
  #scroll_section_01 h1 {
    font-size: 9vw;
  }
  .main_message {
    font-size: 4vw;
  }
  /* section 2 */
  .description {
    padding: 0;
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }
  /* section 3 */
  #scroll_section_03 .main_message {
    font-size: 6vw;
  }
  .main_message small {
    font-size: 1.5vw;
  }
  .desc_message {
    width: 20%;
  }
  #scroll_section_03 .main_message_2 {
    top: 20%;
    left: 53%;
  }

  #scroll_section_03 .main_message_3 {
    left: 55%;
  }
  /* section 4 */
  .mid_message {
    width: 1000px;
    padding: 0;
    font-size: 4vw;
  }
  .canvas_caption {
    padding: 0;
    font-size: 2rem;
  }
}
