@charset 'utf-8';

:root {
  /* size */
  --large--font: 21px;
  --medium-font: 14px;
  --smal--font: 12px;
  /* color */
  --white--color: #fff;
  --black--color: #1d1d1d;
  --ligthgray--color: #ddd;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--medium--font);
}

body {
  overflow-x: hidden;
  color: var(--black--color);
  /* 자간 */
  letter-spacing: -0.05em;
  background-color: var(--white--color);
}

p {
  line-height: 1.6;
}

a {
  color: var(--black--color);
  text-decoration: none;
}

/* menu */
/* global nav */
.global_nav {
  height: 44px;
}

.global_nav .global_nav_links,
.local_nav .local_nav_links {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.global_nav .global_nav_links {
  justify-content: space-between;
  font-size: var(--medium-font);
}

/* local nav */
.local_nav {
  height: 52px;
  border-bottom: 1px solid var(--ligthgray--color);
}

.local_nav .local_nav_links .product_name {
  font-size: var(--large--font);
  font-weight: 900;
  margin-right: auto;
}
/* .product_name 요소는 제외 */
.local_nav .local_nav_links a:not(.product_name) {
  margin-left: 2em;
  font-size: var(--smal--font);
}
