@charset 'utf-8';

:root {
  /* size */
  --large--font: 21px;
  --medium-font: 14px;
  --smal--font: 12px;
  /* color */
  --white--color: #fff;
  --black--color: #1d1d1d;
  --ligthgray--color: #ddd;
  --ligthgray--color2: #888;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: var(--black--color);
  /* 자간 */
  letter-spacing: -0.05em;
  background-color: var(--white--color);
}

p {
  line-height: 1.6;
}

a {
  color: var(--black--color);
  text-decoration: none;
}

/* menu */
/* global nav */
/* .global_nav .local_nav 포지션 값을 변경 해줌
scrollLoop 함수내에서 currentScene를 구하는 과정에서 nav의 높이 값 때문에 문제가 발생하므로
nav가 영역을 차지하지 않도록 position:absolute 값으로 설정  */
.global_nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

.global_nav .global_nav_links,
.local_nav .local_nav_links {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.global_nav .global_nav_links {
  justify-content: space-between;
  font-size: var(--medium-font);
}

/* local nav */
.local_nav {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid var(--ligthgray--color);
  padding: 0 1rem;
}

.local_nav .local_nav_links .product_name {
  font-size: var(--large--font);
  font-weight: 900;
  margin-right: auto;
}
/* .product_name 요소는 제외 */
.local_nav .local_nav_links a:not(.product_name) {
  margin-left: 2em;
  font-size: var(--smal--font);
}

/* section */
.scroll_section {
  border: 3px solid black;
  padding-top: 50vh;
}
/* section 1 */
#scroll_section_01 h1 {
  font-size: 4rem;
  text-align: center;
}

.main_message {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 2rem;
  margin: 10px 0;
}
/* section 2 */
.main_message p {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

.description {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: var(--ligthgray--color2);
  padding: 0 1rem;
}

.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: var(--black--color);
}

/* section 3 */
.main_message small {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

#scroll_section_03 .main_message {
  font-size: 3.5rem;
}

.desc_message {
  width: 50%;
  font-weight: 900;
}
/* 선 */
.pin {
  width: 1px;
  height: 100px;
  background: var(--black--color);
}

/* section 4 */
.mid_message {
  font-size: 2rem;
  color: var(--ligthgray--color2);
  padding: 0 1rem;
  max-width: 1000px;
  margin: 0 auto;
}
.mid_message strong {
  color: var(--black--color);
  display: block;
}
.canvas_caption {
  color: var(--ligthgray--color2);
  padding: 0 1rem;
  font-size: 1.2rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  color: var(--white--color);
  background: darkorange;
}

/* stick_elem */
/* 기본적으로 stick_elem display을 none으로 설정하고 */
/* 스크롤의 위치에 따라서 보이도록 처리. */
.stick_elem {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
/* 스크롤의 위치에 따라서 body 태그에 show_scene_num id값을 부여하여 */
/* 보이는 section을 설정함. */
#show_scene_01 #scroll_section_01 .stick_elem,
#show_scene_02 #scroll_section_02 .stick_elem,
#show_scene_03 #scroll_section_03 .stick_elem,
#show_scene_04 #scroll_section_04 .stick_elem {
  display: block;
}

/* desktop */
@media (min-width: 1024px) {
  /* section 1 */
  #scroll_section_01 h1 {
    font-size: 9vw;
  }
  .main_message {
    font-size: 4vw;
  }
  /* section 2 */
  .description {
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }
  /* section 3 */
  #scroll_section_03 .main_message {
    font-size: 6vw;
  }
  .main_message small {
    font-size: 1.5vw;
  }
  .desc_message {
    width: 20%;
  }
  /* section 4 */
  .mid_message {
    font-size: 4vw;
  }
  .canvas_caption {
    font-size: 2rem;
  }
}
